$navbar-heigh: 54px;

.container {
  display: flex;
  justify-content: space-between;
  height: $navbar-heigh;
  padding: 10px;
  color: white;
  background-color: black;
}

.logoRow1 {
  font-weight: 600;
}

.logoRow2 {
  font-size: 0.8rem;
}

.searchInput {
  padding: 5px 15px;
  border-radius: 50px;
}

.dropDownMenu {
    position: absolute;
    top: $navbar-heigh;
    width: 100%;
    color: white;
    z-index: 1;
}

.searchItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  width: 100%;
  border: 0;
}
